version: "3"
services:
  postgres:
    image: postgres:9.6.3
    ports:
      - 33335:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: property_rental
  users:
    image: rsobnb/property_rental
    ports:
      - 8080:8080
    environment:
      KUMULUZEE_DATASOURCES0_CONNECTIONURL: jdbc:postgresql://172.17.0.1:33335/property_rental
    depends_on:
      - postgres